## Data Cleaning and Preprocessing Notebook

This notebook is to be strictly used for data cleaning and preprocessing purposes. Steps:

1. Read the dataset
2. Handle Missing Values (if any).
3. Do visualizations as required
4. Explore your data here
5. Save the cleaned and processed dataset as `data/final_dataset.csv`.
6. Split the dataset obtained in step 5 as `input/train.csv`,`input/test.csv`,`input/validation.csv`

NO MODELLING WILL BE DONE IN THIS NOTEBOOK!

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
scripts=pd.read_json("../data/lines_by_episode.json")

In [3]:
dialogues=[]
for e in scripts['TOS']['episodes']:
    for line in e['lines']:
        dialogues.append((line['author'],line['message']))

In [4]:
len(dialogues)

26632

In [5]:
sum=0
for i in range(len(scripts['TOS']['episodes'])):
    sum+=len(scripts['TOS']['episodes'][i]['lines'])

In [6]:
sum

26632

In [7]:
dialogues_df=pd.DataFrame(dialogues,columns=['Character','Message'])

In [8]:
dialogues_df

      Character                                            Message
0         TYLER                                All operating, sir.
1         SPOCK  It can't be the screen then. Definitely someth...
2         TYLER                      It could be these meteorites.
3           ONE  No, it's something else. There's still somethi...
4         TYLER  It's coming at the speed of light, collision c...
...         ...                                                ...
26627   COLEMAN                      I'd like to take care of her.
26628     MCCOY                           Of course. Come with me.
26629      KIRK                      I didn't want to destroy her.
26630     SPOCK          I'm sure we all understand that, Captain.
26631      KIRK  Her life could have been as rich as any woman'...

[26632 rows x 2 columns]

In [9]:
dialogues_df.to_csv("../input/Trek_TOS_Dialogues.csv")